html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    padding: 0px 100px;
} */

/*  FIRST SECTION */

.background{
    background-image: url("./assets/heroimage.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
    background-blend-mode: overlay;
}

/* NAV */

nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
    padding: 10px 20px;
    /* border: 1px solid black; */
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #1419194D;
    position: fixed;
    top: 0;
    /* bottom: 0; */
    color: white;
    margin-bottom:20px ;
}

.mobile{
    display: none;
}

.mobile .white{
    width: 30px;
    height: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    /* gap: 500px; */
}

.logo{
    display: flex;
    align-items: center;
}

.logo p{
    color: rgb(235, 232, 232);
    font-size: 1.5rem;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

button{
    padding: 10px;
    border-radius: 30px;
    max-width: fit-content;
    border: none;
    background-color: #A76C34;
    color: white;
}

button:hover{
    background-color: #64411f;
}

/* HERO */

.hero{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
     padding: 0px 100px;
     color: white;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hp{
    width: 30%;
}

.preheader{
    font-size: 2rem;
}

.header{
    font-size: 3rem;
}

/* SECOND SECTION */

.second-section{
    background-color: #e4d1c0;
    min-height: fit-content;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.secleft{
    background-image: url("assets/conbined\ second.png");
    height: 500px;
    width: 700px;
    background-size: contain;
    background-repeat: no-repeat;
}

.secright{
    max-width: 50%;
}

.secright h2{
    font-size: 3rem;
}

.sr-paragraph{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin:30px 0 5px 0;
}

.sr-paragraph-inner{
    color:#A76C34;
    display: flex;
    justify-content: center;
}

.secBottom{
    background-image: url("assets/conbined\ second.png");
    height: 300px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    margin-top: 50px;
}

/* THIRD SECTION */
.third-section{
    background-image: url("./assets/third\ section.jpg");
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 100px;
}

.third-section > h2{
    color: white;
    font-size: 2.5rem;
}

.third-section > div{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 40px; */
    width: 100%;
}

.third-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a2712c9;
    height: 190px;
    width: 250px;
    border-radius: 30px;
    text-align: center;
    gap: 10px;
    color: white;
    /* padding: 0px; */
}

.third-container img{
    background-color: #A76C34;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 5px;
}

/* FOURTH SECTION */
.fourth-section{
    background-color: #e4d1c0;
    min-height: fit-content;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    /* align-items: center;
    justify-content: space-between;
    gap: 50px; */
}

.fourth-section h2{
    font-size: 3rem;
    color: #A76C34;
    margin-bottom: 10px;
}

.fourth-section .filter{
    display: flex;
    gap: 50px;
}

.fourth-section .filter div{
    padding:5px 20px;
    border: 2px solid #A76C34;
    border-radius: 30px;
    color: #A76C34;
}

.fourth-section .filter .selected{
    background-color: #A76C34;
    color: #F2E9E1;
;
}

.fourth-section-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.fourth-container{
    background: white;
    border-radius: 30px;
}

.fourth-container h3{
    color: #3A2612;
    font-size: 1.5rem;
}

.fourth-container p{
    color: #3A2612;
}

.fourth-container img{
    height: 200px;
    width: 316px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.fourth-container > .text{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text img{
    max-width: 20px;
    max-height: 20px;
}

.explore{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* FIFTH SECTION */
.fifth-section{
    background-color: #e4d1c0;
    min-height: fit-content;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.fifth-section p{
    font-size: 3rem;
    color: #A76C34;
}

.fifth-section .picture img{
    /* background-image: url("./assets/Group\ 7.png");*/
    width:100%;
    height: 100%; 
}

.sixth-section{
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-image: url("./assets/testimonial.jpg");
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixth-section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sixth-section h3{
    font-size: 3rem;
}

.sixth-section img{
    border-radius: 50%;
}

.sixth-section p{
    font-size: 25px;
    text-align: center;
    max-width: 500px;
}

.seventh-section{
    background-color: #e4d1c0;
    min-height: fit-content;
    padding: 50px 100px;
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    /* gap: 50px; */
    justify-content: space-between;
}

.seventh-section h3{
    font-size: 3rem;
}

.seventh-section img{
    width: 100%;
    height: 100%;
}


@media (max-width:900px) {
    nav{
        width: 100%;
        /* padding: ; */
        margin: 0;
        border-radius: 0;
        background-color: #875c3c;
        /* display: none; */
    }

    .mobile{
        display: block;
    }

    .nav-links{
        display: none;
    }

    .hero{
        padding: 30px   ;
    }

    .hp{
        width: 100%;
    }

    .second-section{
        flex-direction: column;
        height: fit-content;
        align-items: center;
        padding: 50px;
        gap: 0;
    }

    .secleft{
        display: none;
    }
    
    .secright{
        min-width: 100%;
    }

    .secBottom{
        display: block;
    }

    .third-container{
        margin-bottom: 30px;
    }

    .fourth-section .filter .third, .fourth-section .filter .fourth{
        display: none;
    }

    .fifth-section .picture img{
        transform: scale(1.2);
    }
}
